
<div>
  <button (click)="save()">Test Http.post</button>
</div>
<div>
    <md-select id="selePlant"
      [(ngModel)]="plant" class="input-textbox" name="plant" required>
      <md-option id="optT0" value="T000">T000</md-option>
      <md-option id="optT1" value="T001">T001</md-option>
      <md-option id="optT2" value="T002">T002</md-option>
    </md-select>
</div>
<div>
    <md-select id="seleShop" class="input-textbox"
         name="shop"  required>
      <md-option *ngFor="let shop of aryShop" [value]="shop.value">
        {{shop.viewValue}}
      </md-option>
    </md-select>
</div>

